<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".DamaAIApplication" android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/dama_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dama_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.DamaAI"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.DamaAI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:exported="false"
            android:theme="@style/Theme.DamaAI">
        </activity>
        <activity
            android:name=".OptionsActivity"
            android:exported="false"
            android:label="Opzioni"
            android:theme="@style/Theme.DamaAI" />
        <activity
            android:name=".LlmManagerActivity"
            android:exported="false"
            android:label="Gestione IA"
            android:theme="@style/Theme.DamaAI" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>